.AndroidApps {
  height: 10%;
}

.AndroidApps > * {
  margin: 1em;
}

.content {
  display: flex;
  margin: 1em;
}

.content > * {
  margin: 1em;
}

.content img {
  border-radius: 10%;
  width: 20%;
}

@media (max-width: 672px) {

  .content {
    display: block;
  }

  .content > * {
    margin: .5em;
  }

  .content img {
    width: 100%;
  }
}