.container {
  background-color: var(--secondary-background-color);
  border-radius: 10px;
  overflow: hidden;
}

.AndroidApps > * {
  margin: 1em;
}

.content {
  display: flex;
  justify-content: space-between;
  gap: 10rem;
  margin: 1em;
}

.content h3 {
  margin: 0;
}

.content > * {
  margin: 1em;
}

.content a {
  text-decoration: none;
  background-color: var(--link-color);
  padding: .5em;
  border-radius: 10px;
}

.content img {
  border-radius: 10%;
  width: 20%;
  height: 500px;
  object-fit: contain;
}

@media (max-width: 1046px) {

  .content {
    display: flex;
    flex-direction: column-reverse;
    gap: 0;
  }

  .content > * {
    margin: .5em;
  }

  .content img {
    width: 100%;
  }
}