.CourseWork {
  display: flex;
  justify-content: space-evenly;
}

.CourseWork > * {
  margin: 1em;
}

.classList {
  display: flex;
  background-color: var(--secondary-background-color);
  border-radius: 10px;
}

h2, h3 {
  text-align: center;
}

@media (max-width: 934px) {
  .CourseWork {
    display: block;
  }
  .classList {
    display: block;
  }
}