.CybersecuritySlide > * {
  margin: 1em;
}

.container {
  background-color: var(--secondary-background-color);
  border-radius: 10px;
  overflow: hidden;
}

.content {
  display: flex;
  margin: 1em;
}

.content > * {
  margin: 1em;
}

.content > iframe {
  width: 80%;
  height: 624.828px;
}

@media (max-width: 1046px) {

  .content {
    display: flex;
    flex-direction: column-reverse;
  }

  .content > * {
    margin: .5em;
  }

  .content iframe {
    width: 100%;
  }
}