.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

.Header nav {
  margin-top: 21.44px;
  margin-right: 1em;
}

h1 {
  margin-left: 1em;
}

.links a {
  margin-right: 1em;
  text-decoration: none;
  background-color: var(--link-color);
  padding: .5em .5em;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

.links a:hover {
  background-color: var(--link-hover-color);
}

.links {
  display: flex;
  gap: 2em;
}