.Header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 20px;
}

h1 {
  margin-left: 1em;
}

.links > a {
  margin-right: 1em;
  text-decoration: none;
  background-color: var(--link-color);
  padding: .5em .5em;
  border-radius: 10px;
}

.links {
  display: flex;
  gap: 2em;
}